html {
	font-size:14px;
}
body {
	font-family: Roboto, Arial, Sans-Serif;
	font-weight: 300;
	font-size:14px;
	color: #333	;
}


/* typography */

h1, h2,h3, h4,.h1,.h2,.h3,.h4 {
	font-weight:100;
	color: #FF341D;
}

h1, .h1 {
	font-size:3rem;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

h2, .h2 {
	font-size:2.5rem;
	color: #555;
	margin-bottom:2rem;
}

h3, .h3 {
	font-size:1.7rem;
}

.h1-container h1, .h1-container .h1 {
	font-weight:400;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.8);
}
.h1-container h2,
.h1-container h3,
.h1-container .h2,
.h1-container .h3 {
	font-weight:300;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}


a, a:hover {
	color:#FF341D;
	text-decoration: underline;
}

.text-white {
	color: #fff !important;
}

.text-red {
	color: #FF341D !important;
}


/* base */

.btn-danger, .btn-warning {
	color: #fff;
	background-color: #ff4c31;
	border-color: #f7472a;
}


.btn-danger:hover, .btn-warning:hover {
	color: #fff;
	background-color: #ff694b;
	border-color: #f7472a;
}

.form-field {
	padding: 0.7rem;
	border-radius:4px;
	border:1px solid #88a876;
	width:100%;
}

/*header */

header {
	top:0;
	display:block;
	position:fixed;
	height:75px;
	z-index:999;
	background-color: rgba(0,0,0,0.2);
	width:100%;
}

.logo {
	height:75px;
	background: #FF341D;
	border-radius: 0 0 10px 10px;
	text-align:center;
}
.logo img {
	padding:10px 0 5px 0;
}
.logo a {
	font-weight:700;
	color:#fff;
	text-decoration:none;
	letter-spacing: 1px;
	line-height:5rem;
	font-size: 1rem;
}

header ul.main-menu li {
	float:left;
	list-style: none;
	margin: 10px 40px 0px 0
}

header ul.main-menu li a {
	color:#fff;
	border-bottom: 1px solid #bbb;
	text-decoration:none;
}

header ul.main-menu li a:hover {
	color:#e0e0e0;

}

header ul.main-menu li.active a {
	color: #ff341d;
	border: 0;
}

header .phone {
	margin-top: 3px;
}

header .work-always {
	display: inline-block;
	padding: 3px 10px;
	border-radius: 15px;
	color:#fff;
	font-size:0.8rem;
}

.phone a {
	font-size:1.3rem;
	font-weight: 400;
	text-decoration:none;
}

.phone-desc a {
	font-size:1.15rem;
	color:#fff;
	font-weight: 400;
	text-decoration:none;
}

@media (max-width:768px){
	header, .logo {
		height:60px;
	}
}

/*end header*/

.img-container img {
	width:100%;
}

/** igallery */

.igallery {

}

.igallery img {
	width:100%;
}

.igallery .igallery-item {
	margin:0;
	padding: 0;
	border:1px solid #fff;
}

.igallery-caption {
	position:absolute; background: #fff; line-height:1.3rem; font-size: 1rem; padding:0.5rem;
}

.igallery-hover {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.igallery-hover .igallery-caption{
	color:#fff; background: none; position: relative;
}

.row.igallery {
	margin:0;
}


.igallery-price {
	color: #ff341d;
	font-size:1.2rem;
}
.igallery-price-rub {
	color: #ff341d;
}

/* aside */

.sidebar ul.menu {
	margin:0;
	padding:0;
}

.sidebar ul.menu li {
	list-style: none;
	padding: 20px 10px;
	background: #f5f5f5;
	margin: 3px 0;
}

.sidebar ul.menu li a {

}

/* breadcrumb */
.page-breadcrumb {
	margin:0;
	padding:0;
}

.page-breadcrumb li {
	float:left;
	list-style: none;
	margin: 0 10px 0 0;
}

.page-breadcrumb li a {
	color:#fff;
	font-weight:300;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-decoration:none;
}

.page-breadcrumb .separator{
	color:#fff;
}


main {
	display:block;
	margin-top:80px;
}

.main-header {
	margin: 30px 0 40px 0px;
	opacity:0;
}

/*main gallery*/
.main-gallery img{
	width:100%;
}

.gallery-col1, .gallery-col2, .gallery-col3 {
	margin:0;
	padding:0;
}

.gallery-col1 img {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.gallery-col3 img {
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/* how-to-work */

.how-to-work {
	text-align: center;
}

.how-to-work .col-xs-6 {
	margin-bottom:20px;

}

.how-to-icon img {
	height: 3rem;
	margin-bottom:15px;
}

/* content-block */
.content-block {
	padding: 20px 40px 30px 40px;
}

.content-block__bg_green {
	background: #ECF4EF;

}

.content-block__bg_green2 {
	background: #e0e7e2;

}

.price-row {
	text-align: center;
}
.price-row img {
	width:95%;
}

.book-price {
	text-align:left;
	font-size:1.8rem;
	font-weight:300;
	color:#ff341d;
	margin-top:10px;
	text-align: center
}

.book-size {
	text-align:left;
	font-size:1.4rem;
	font-weight:700;
	margin-top:10px;
	text-align: center
}

.simple-list {
	margin:0;
	padding: 1rem;
}
.simple-list li {
	list-style: none;
	padding:0.2rem 0;
}

.simple-list li:before {
	display:inline-block;
	content: "\2014";
	padding-right:10px;
	color:#ff341d;
	font-size:1.1rem;
	font-weight: 700;

}

body {

}

body.page- {
	background:#e0ddd8 no-repeat fixed top right;
	background-image:url(/_site/i/v2/main1.jpg);
	background-size: cover;
}

body.page-zakaz {
	background:#e0ddd8 no-repeat fixed top right;
	background-image:url(/_site/i/v2/main1.jpg);
	background-size: cover;
}

body.page-wedding {
	background:#e0ddd8 no-repeat fixed top center;
	background-image:url(/_site/i/v2/bg.jpg);
	background-size: cover;
}

body.page-dmb {
	background:#e0ddd8 no-repeat fixed top center;
	background-image:url(/_site/i/v2/dmb/dmb_bg2.jpg);
	background-size: cover;
}

body.page-insta {
	background:#e0ddd8 no-repeat fixed top center;
	background-image:url(/_site/i/v2/insta/insta_bg2.jpg);
	background-size: cover;
}

body.page-print {
	background:#e0ddd8 no-repeat fixed top center;
	background-image:url(/_site/i/v2/main1.jpg);
	background-size: cover;
}

body.page-vipusk {
	background:#e0ddd8 no-repeat fixed top center;
	background-image:url(/_site/i/v2/vipusk/v_bg.jpg);
	background-size: cover;
}

main .main-content{
	background-color: rgba(255,255,255,1);
}

/** slider */

#slider-with-blocks-1 {
	width: 100%;
}
.rsContent {
	float: left;

}
.slide {
	text-align:right;
}
.bContainer {
	position: relative;
}
.rsABlock {
	position: relative;
	display: block;
	left: auto;
	top: auto;
}

.deep-link {
	display:inline-block;
	padding:0.7rem;
	font-weight:400;
	text-decoration:none;
	border:1px solid #ff341d;
	border-radius: 6px;
	margin-top: 2rem;
	background: #ff341d;
	color: #fff;
}

.deep-link span {
	font-size:2rem;
	display:inline-block;
	line-height:1.4rem;
	font-weight:400;
}

.deep-link_prev {
	float:left;
}

.deep-link_next {
	float:right;
}

.deep-link:hover {
	text-decoration:none;
	color: #fff;
	background: #FF7054;
}

.g-title {
	position:absolute;
	color:#fff;
	font-size:1.2rem;
	font-weight:300;
	z-index:999;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	padding:0.4rem;
	background: rgba(0,0,0, 0.7);
	line-height: 1.6rem;
	text-align: left;
}
.g-title.small {
	font-size:1rem;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
	.royalSlider,
	.rsOverflow {
		height: 330px !important;
	}
}


/* menu-level-2*/
.menu-level2 {
	padding:0;
	margin: 10px 0 20px 0;
}
.menu-level2 li {
	float:left;
	margin:0;
	padding:0;
	list-style: none;
}

.menu-level2 li a {
	display: block;
	padding:8px;
	color:#fff;
	text-decoration: none;
	text-shadow:  1px 1px 1px rgba(0,0,0,1);
}

/** form */
.form-control-error {
	color:#ff341d;
}


/** кнопка заказа **/

.order-row .phone {
	margin-top: 12px;
}
.order-row .phone a {
	font-size:2.5rem;
}

.order-row__phone-desc {
	font-size:0.8rem
}

.order-row .btn {
	margin-top:15px;
}

/* faces */
.faces {
	text-align:center;
	margin-top:2rem;
}

.faces img {
	border-radius: 60px;
	width:120px;
}

.faces_position {
	font-size: 0.9rem;
	color:#555;
}


/** order-form */
.order-form .h4, .order-form label {
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.order-form {
	min-height:400px;

}

.order-form form {
	margin-bottom: 50px;
}


.order-form .h1 {
	margin-top:50px;
	text-align: center;
}
.order-form .h4 {
	font-weight:400;
	line-height: 2rem;
	text-align:center;
}

.order-form {
	margin-top: 150px;
	margin-bottom: 100px;
}
.order-form-bg {
	background: rgba(0,0,0,0.2);
}

/** media **/
@media (max-width:767px){
	.order-form {
		margin-top: 50px;
	}

}

@media (min-width:768px){
	.order-form {
		margin-top: 150px;
	}
}

/** blog */
.post .post-footer {
	margin:10px 0 15px 0;
	color: #999;
}

.post .post-content {
	margin-top: 10px;
}


/** footer */

footer {
	min-height: 200px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding-top:20px;
}

footer h4 {
	color:#fff;
	font-weight:700;
	font-size:1rem;
	border-bottom: 1px solid #eee;
	display:inline-block;
	line-height: 2rem;
}

footer a {
	color:#fff;
	text-decoration:none;
	font-size:0.9rem;
}

footer ul {
	margin:0;
	padding:0;
}

footer ul li {
	list-style-type: none;
	margin:0;
}

.footer__email {
	color: #ff341d;
}

.footer__phone {
	font-weight: 100;
	font-size:1.8rem;
	color: #ff341d;
	margin-bottom: 0;
}

.footer__phone-free {
	font-weight:300;
	font-size:0.9rem;
	color: #ff341d;
}

/** vipusk calc */

.vipusk-calc__format {
	padding: 15px;
	border-top:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom:20px;
	background: #f5f5f5;
}



/** media **/
@media (min-width:320px){
	html {
		font-size:10px;
	}
	body {
		font-size:10px;
	}
}

@media (min-width:768px){
	html {
		font-size:12px;
	}
	body {
		font-size:12px;
	}

	header ul.main-menu li {
		margin-right:20px;
	}
}

@media (min-width: 992px) {
	html {
		font-size:14px;
	}
	body {
		font-size:14px;
	}
	header ul.main-menu li {
		margin-right:40px;
	}
}

