body {
    font-size:16px;
}

h2, h3, h4, .h2,.h3, h4 {
    font-weight: normal;
}

h2, .h2 {
font-size:180%;
}

h3, .h3 {
    font-size:150%;
}

h4, .h4 {
    font-size:120%;
}

.big {
    font-size:130%;
}

#footer {
    margin-top:-60px;
    font-size:20px;
}

#footer .footer-bottom {
    font-size:14px;
}

#footer .phone {
    float:right;
}

.page-box-content {
    padding-bottom: 60px;
}



.header .primary {
    float:right;
    margin-top:0px;
}

.logo a {
    display:inline-block;
    margin-top:10px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    color:#ee3224;
    font-size:23px;
    font-weight:bold;
}

.logo a:hover {
    text-decoration:none;
}

#header_right_right .contacts {
    margin-top:10px;
}

.header-wrapper {
    background:none;
    min-height:80px;
    margin-top: 0px;
}

.full-width-box {
    padding:0;
}

.full-width-box.header-box {
    background: #f2f2f2;
    width:100%;
    border-bottom: 1px solid #d0d0d0;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
}

#main {
    padding:0;
    margin-top:70px;
}
.badge-warning {
    background:#ee3224 !important;
}

a {
    color: #ee3224;
}

.price-description {
    font-size: 14px;
    color: #aaa;
}

.c-bg-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;
}

.c-bg-caption.c-bg-caption-light {
    background: rgba(255, 255, 255, 0.7);
}

.service .icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 10px 10px 0 0;
}

.service .icon i:before {
    font-size: 20px;
    line-height: 40px;
}

.full-width-box.service-desk {
    padding: 30px 0;
}

#main {
    padding-bottom: 0px;
}

.form-control.error {
    border: 1px solid #ee3224;
    margin-bottom: 5px;
}

.error {
    color: #ee3224;
}

.book-format {
    margin-top: -50px;
    color: #ee3224;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.last-works {
    min-height: 250px;
}

.book-format:hover {
    text-decoration: none;
    color: #ee3224;
}

.price {
    margin: 20px 0px 0px 0;
    font-size: 20px;
    font-weight: bold;
}

.product-list {
    margin-bottom: 20px;

}

.gallery > div {
    margin-bottom: 20px;
}

.bk-price-list > div {
    margin-top:20px;
}

.bk-price-list {
    text-align:center;
    font-size:20px;
}

.bk-format {
    font-weight:bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.bk-price {
    white-space: nowrap;
}

.gallery-info-menu {

}

.gallery-info-menu a {
    display: inline-block;
    margin:0px 20px 30px 0;
    font-size: 14px;
    color:#555;
}

.gallery-info-menu a:hover {
    color: #ee3224;
}

.gallery-info-text {
   margin: 20px 0;
}

.gallery-info-text h3 {
    font-weight:normal;
    font-size: 150%;
}

@media (max-width: 767px) {
    .bottom-padding-mini {
        margin-bottom: 20px;
    }

    .min720 {
        display: none;
    }

    .header-phone {
        padding-top: 20px;
    }

}

@media (max-width: 600px) {

    .book-format {
        font-size: 14px;
        margin-top: -30px;
    }

    .min500 {
        display: none;
    }
}

@media (max-width: 1000px) {

    .header-phone {
        font-size: 14px;
    }

    .min1000 {
        display: none;
    }
}

@media (min-width: 1000px) {
    .bk-price-list {
        font-size:20px;
    }
}

@media (max-width: 1200px) {
    .header-phone {
        font-size: 16px;
    }

    .min1200 {
        display: none;
    }

    .bk-price-list {
        font-size:15px;
    }

}

.our-services img {

    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.super-price {
    border-top: 1px dotted #aaa;
    padding: 20px;
    font-size: 20px;

}

.price-text {
    font-weight: bold;
}

.fwb-bg,
#footer .footer-bottom {
    background: #616466;
}

.text-light, a.text-light
{
    color:#ddd;
}

.text-white {
    color: #fff !important;
}

.text-danger, .icon, .service .icon {
    color: #ee3224 !important;
}

.text-success {
    color: #E52E2F !important;
}

.btn-warning {
    background-color: #ee3224 !important;
    border-color: #e12b2c !important;
}

.btn-warning:hover {
    background-color: #ff2f30 !important;
}

.form-box {
    background: #f5e5aa;
}

.super-price-top {

}

.bg-main {
    background: #f5e5aa;
}

.modal-btns {
    margin-top: 30px;
}

.modal-backdrop {
    height:100%;
    position: fixed;
}

.modal-btns > div {
    margin-bottom: 30px;
}

.bk-price-old {
 text-decoration: line-through;
    color:#E52E2F;
    font-size: 90%;
    text-align:center;
}

.round-corner-60 {
    width:220px;
    height:150px;
    border-radius:60px;
    margin:24px 0;
}

ul.price-list {
    list-style:none;
    margin:10px 0 0 5px;
    padding:0;
}

ul.price-list i {
    font-size:8px;
    line-height: 20px;
}

.price-table {
    font-size:20px;
}

.nav-main-menu li,
.nav-submenu li{
    float:left;
    padding:0;
    margin:0px 20px 20px 0;
    font-size: 14px;

}

.nav-main-menu li {
    font-weight:bold;
    text-transform: uppercase;
}

.nav-submenu li{
    font-size: 13px;


}

.nav-main-menu li a,
.nav-submenu li a
{
    display: block;
    color:#444;
    text-decoration: none;
    padding:5px 0;
}

.nav-main-menu li.active-item {
    border-bottom:2px solid #f0483c;
}
.nav-main-menu li.active-item a,
.nav-main-menu li:hover a,
.nav-submenu li:hover a{
    color: #f0483c;

}

.gallery-photolist ul.row {
  margin: 0 0 0 0 !important;
}

.gallery-list-photolist {
    margin-top:-40px;

}

.gallery-list-photolist .gallery-photolist-caption {
    opacity: 1;
    padding: 10px;
    position:relative;
    background:transparent;
    color:#ee3224;
    width:auto;
}

.gallery-list-photolist .gallery-photolist-title {
    text-align:center;
    padding:10px 0;
}

.gallery-description {
    margin: 20px 0 40px 0;
}
.gallery-photolist-wrap {
    margin-bottom: 20px;
}

.gallery-photolist ul li {
    margin: 10px 0 !important;
}

.gallery-slider {
    border:1px solid #d0d0d0;
    padding:10px;
    background:#f0f0f0;
    border-radius: 2px;
}

.social-icons a {
    display: inline-block;
    font-size:18px;
    padding:0px 0px;
    border:1px solid;
    width:34px;
    margin:3px;
    float:right;
}

.top-box-wrapper {
    background-color: #616466;

}

